@import url('https://fonts.googleapis.com/css?family=Cabin:700&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;

}


html {
	font-weight: normal;
	font-family: 'Courier';	
	background-color:rgba(180, 180, 180);
	color: rgb(203, 201, 203);

}


/* ----Generic Styles-----------------*/
body {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height:100vh;
}

.subtittle {
	font-size: 50px;
	color:rgb(36, 37, 38);
	text-align: center;
}

.inputs-container {
	background-color: rgb(33, 67,65);
	padding: 2%;
}



/* ----Header-------------------------------------------*/
header {
	/* As flex-container */
	display: flex;
	flex-direction: column;

	/* As flex-item */

	/* Dimensions */
	border:opx solid blue;
	min-height: 200px;
	background-color: rgb(36, 37, 38);
	
	/* Styles */
}

	/*Navigation Menu*/
nav ul {
	/*As flex-container*/
	display:flex;
	justify-content: flex-end;

	/*As flex-item*/
	
	/*Dimensions & Style*/
	list-style: none;
	background-color:  rgb(33, 67,65);
}

/* Logo*/
.logo a {
	color: rgb(203, 201, 203);	flex-grow:6;
	font-family:Cabin;
	font-size: 30px;
}
.logo {
	max-width: 200px;
	margin-right: auto;	
}
/* Menu links*/
nav li {

	/*As flex-container*/
	display: flex;
	
	/*As flex-item*/
	flex-basis:200px;

	/*Dimensions & Style*/
	text-align: center;

}

nav a {
	color: rgb(203, 201, 203);	text-decoration: none;
	display:flex;
	flex-grow:1;
	justify-content: center;
	align-items: center;
	height: 50px;
	transition: 300ms;

}
.active {
	background-color:   rgb(49, 104, 101);
}
nav a:hover {
	background-color:   rgb(49, 104, 101);
}
/* ------------Main Tittle-------------*/
header h1 {
	font-size: 60px;
	margin:auto;
	text-align: center;

}



/* ----Footer-------------------------------------------- */
footer {
	
	/*As flex-container*/
	display:flex;
	justify-content: space-around;
	align-items: center;

	/*As flex-item*/
	margin-top:auto;


	/*Dimensions & Style*/
	height: 100px;
	background-color:  rgb(36, 37, 38);
	
	
}
/* ------------Logo---------------------------- */
.logo_footer {
	color: rgb(203, 201, 203);;
	font-family:Cabin;
	font-size: 30px;
}
/* ------------Menu links---------------------- */
footer a {
	text-decoration: none;
	color:rgb(203, 201, 203);;
}




/* ----Home Page---------------------------------------*/


/* Content-Wrapper*/

.content {
	display:flex;
	flex-wrap: wrap;
	
	justify-content: space-evenly;
	align-items: start;
}

/* Content items*/

.column {
	margin-top:5%;
	border: 4px solid rgb(149, 160, 171);	
	background-color:rgb(36, 37, 38);;
	padding: 2%;
	flex-basis: 400px;
	display:flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;
	justify-content: space-around;
}

/* Column Link*/

.column a {
	color: rgb(203, 201, 203);
}

#docu_link {
	color: rgb(203, 201, 203);
	text-decoration: none;
	margin-top:15%;
	padding:2%;
	border:6px solid black;
	flex-grow:.2;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
	transition: 400ms;
	background-color: rgb(33, 67,65);
	border: 2px solid rgb(149, 160, 171);
}

#docu_link:hover {
	background-color: rgb(49, 104, 101);
}





/* ---------------------Risk Management-------------------------------*/


.main-risk {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.main-risk > * {
	border:2px solid blue;
}

.lots-inputs {
	display:flex;
	align-items: flex-end;
	flex-basis:30%;
	font-size: larger;
	align-items: stretch;
	align-content: center;
	min-width: 320px;
}
.lots-inputs > * {
	display:flex;
	flex-flow:column;
	justify-content: space-around;
	border:2px solid blue;
	align-items: flex-end;
	text-align: end;
}


#showLot {
	align-self: center;
	font-size: 1.5em;
	padding: 2%;
}
#showLot a {
	text-decoration: none;
	color:black;
}
.result {
	display:flex;
	flex-basis:30%;
}

.lots-result {
	margin:auto;
	font-size: 2em;
	padding:3%;
}





/* ----------------------Data Player---------------------- */

.main-dataplayer {
	/*Flex-Container*/
	display:flex;
	flex-flow: row wrap;
	justify-content: center;

}

#tittlePair {
	text-align: center;
	font-size: 60px;
}


.inputs-wrapper {
	/*Flex-Container*/
	display:flex;

	/*Dimensions and style*/
}

.inputs-columnB {
	text-align: center;
	padding: 2%;
	background-color: rgb(33, 67,65);

}

.canvas-controls {
	/*Flex-Container*/
	display:flex;
	flex-direction: column;

}


#canvasContainer {
	/*Dimensions and style*/
	flex-basis: 500px;
}

#canvasContainer > *:last-child {
	width:100% !important;
	height:100% !important;
}

#slider-container {

	text-align: center;
	transform: rotate(180deg);
}

#speed {
	transform: rotate(180deg);

}

#buttons {
	/*Flex Container*/
	display:flex;
}
.button {
	font-size: 25px;
	padding:5%;
	margin:7.86% 0;
	flex-grow:1;
}





/* --------------How Data Player Works---------------- */

content {
	/*Dimensions and style*/
	margin:0 25%;
	color: black;
}

content p {
	margin:2%;
}